/*
Template Name: Monster Admin
Author: Themedesigner
Email: niravjoshi87@gmail.com
File: scss
*/


/*
Template Name: Monster Admin
Author: Themedesigner
Email: niravjoshi87@gmail.com
File: scss
*/

@import 'https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900';

/*Theme Colors*/


/*bootstrap Color*/


/*Light colors*/


/*Normal Color*/


/*Extra Variable*/


/*Preloader*/

.preloader {
    width: 100%;
    height: 100%;
    top: 0px;
    position: fixed;
    z-index: 99999;
    background: #fff;
}

.preloader .cssload-speeding-wheel {
    position: absolute;
    top: calc(50% - 3.5px);
    left: calc(50% - 3.5px);
}


/*******************
/*Top bar
*******************/

.topbar {
    background: #DAA520;
    /* Old browsers */
    background: -moz-linear-gradient(left, #CD853F 0%, #F0E68C 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #CD853F 0%, #F0E68C 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #CD853F 0%, #F0E68C 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.topbar .top-navbar .navbar-header .navbar-brand .dark-logo {
    display: none;
}

.topbar .top-navbar .navbar-header .navbar-brand .light-logo {
    display: inline-block;
    color: rgba(255, 255, 255, 0.8);
}

.topbar .navbar-light .navbar-nav .nav-item>a.nav-link {
    color: rgba(255, 255, 255, 0.8) !important;
}

.topbar .navbar-light .navbar-nav .nav-item>a.nav-link:hover,
.topbar .navbar-light .navbar-nav .nav-item>a.nav-link:focus {
    color: #ffffff !important;
}


/*******************
/*General Elements
*******************/

a {
    color: #DAA520;
}

a.link:hover,
a.link:focus {
    color: #DAA520 !important;
}

.bg-theme {
    background-color: #DAA520 !important;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: #DAA520;
    border-color: #DAA520;
}

.right-sidebar .rpanel-title {
    background: #DAA520;
}

.stylish-table tbody tr:hover,
.stylish-table tbody tr.active {
    border-left: 4px solid#DAA520;
}

.text-themecolor {
    color: #DAA520 !important;
}

.profile-tab li a.nav-link.active,
.customtab li a.nav-link.active {
    border-bottom: 2px solid#DAA520;
    color: #DAA520;
}

.profile-tab li a.nav-link:hover,
.customtab li a.nav-link:hover {
    color: #DAA520;
}


/*******************
/*Buttons
*******************/

.btn-themecolor,
.btn-themecolor.disabled {
    background: #DAA520;
    color: #ffffff;
    border: 1px solid#DAA520;
}

.btn-themecolor:hover,
.btn-themecolor.disabled:hover {
    background: #DAA520;
    opacity: 0.7;
    border: 1px solid#DAA520;
}

.btn-themecolor.active,
.btn-themecolor:focus,
.btn-themecolor.disabled.active,
.btn-themecolor.disabled:focus {
    background: #028ee1;
}


/*******************
/*sidebar navigation
*******************/

.sidebar-nav {
    background: #fff;
}

.sidebar-nav ul li a {
    color: #54667a;
}

.sidebar-nav ul li a.active,
.sidebar-nav ul li a:hover {
    color: #DAA520;
}

.sidebar-nav ul li a.active {
    color: #263238;
}

.sidebar-nav ul li.nav-small-cap {
    color: #90a4ae;
}

.sidebar-nav>ul>li.active>a,
.sidebar-nav>ul>li:hover>a {
    color: #DAA520;
}

.sidebar-nav>ul>li.active>a i,
.sidebar-nav>ul>li:hover>a i {
    color: #DAA520;
}

.sidebar-nav>ul>li>a.active i,
.sidebar-nav>ul>li>a:hover i {
    color: #DAA520;
}

.sidebar-nav>ul>li>a i {
    color: #a6b7bf;
}

.sidebar-nav>ul>li>a.active {
    font-weight: 400;
    background: #ffffff;
    color: #DAA520;
}